Button{
  font-size: 2em;
  background-color: rgb(142, 143, 241);
  text-align: center;
  color: #fff;
  align-items: center;
  margin: 30px 5px ;
}
.button{
  align-items: center;
  text-align: center;
}
.wako{
  align-items: center;
  color: black;
  font-size: 3em;
}