Button{
  font-size: 2em;
  background-color: rgb(14, 173, 236);
  text-align: center;
  color: #fff;
  align-items: center;
  margin: 1px 5px ;
  border-radius: 5px;
  padding: 10px;
  
}
.button{
  align-items: center;
  text-align: center;
}
.wako{
  align-items: center;
  color: black;
  font-size: 4em;
}
Button :hover{
  color:red;
}