.to-do-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;

}
h1{
  font-size: 4rem;

}
button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}
.add-button {
  background-color: green;
}
.add-button :hover{
  background-color: green;
}
.delete-button {
  background-color: rgb(209, 102, 102);
}
.delete-button :hover{
  background-color:rgb(250, 6, 6);
}
.move-button {
  background-color: rgb(115, 98, 212);
}
.move-button :hover{
  background-color:rgb(118, 120, 241);
}
input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0,0%,80%,0.5);
  color: black;
}
ol{
  padding: 0;

}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0,0%,85%,0.75);
}