/*body{

background-color: black;
}.to-do-list{
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;

 
}
.add-button{
  background-color: rgb(20, 202, 80);
  color: white;
  text-align: center;
  border: 3px solid;
 
}
h1{
  font-size: 4rem;
}

.delete-button{

color: red;
}
.move-button{

  color: rgb(13, 120, 243);
  
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color:whitesmoke;
  color: black;
  margin-bottom: 10px;
  border: 3px solid hsla(0,0%,85%,0.75);
  border-radius: 5px;
  display: flex;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: wheat;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.delete-button, .move-button{
  padding: 8px;
  font-family: 1.4rem;
  margin-left: 10px;
}
ol{
  padding: 0;
}
.text{
  flex: 1;

}
input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid rgb(20, 3, 3);
  border-radius: 5px;
  color: black;
}*/
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./assets/image.png) no-repeat center center/cover;
height: 100vh;
margin: 0;
}
.clock-container{
backdrop-filter: blur(5px);
width: 100vw;
}
.clock {
  
  color: white;
  font-size: 6rem;
  font-weight: bold;
  align-items: center;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px hsla(0,0%,0%,0.75);
  
}
